*{
    margin: 0%;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
body{
  background-color: #f6f5f4;
}
/*nav bar logo*/
.logo{
width: 20%;
display: flex;
justify-content: center;
align-items: center;
}

.logo img{

    width: 33%;
    border: 1px solid  #fff;
    border-radius: 35px;
}

/*nav bar elements */

.navbar{
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 position: fixed;
 background-color: rgba(0,0,0,0.7);

}
.navlist{
  width: 50%;
  display: flex;
  align-items: center;


}
/*nav bar list li*/
.navlist li{
list-style: none;
padding: 26px 30px;

}

.navlist li a{
color:white;
text-decoration: none;
transition: 0.6s ease;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*navbar list hover effect*/
.navlist li a:hover{
	color: turquoise;
}
/*search bar and btn effects and hover effect */

.rightnav{
width: 50%;
text-align: right;
}

#search{

  padding: 3px;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  list-style-type: none;
}
.btn{
width: 12%;
border: 2px solid #fff;
border-radius: 9px;
padding: 2px;
background-color:rgba(0,0,0,0.7);
cursor: pointer;
color: #fff;
margin: 2px 5px;
font-size: 15px;

}

.btn:hover{
  background-color:  turquoise;
  color: #000;
}

/*backgground images class*/
.background{

  background: rgba(0,0,0,0.7) url('1.jpg');
  background-size: cover;
  background-blend-mode: darken;
}

/*home page section*/
.firstsection{
  width: 100%;
 height: 100vh;
}


/*first-half class of home page for images*/
.first-half{
width: 100%;

}

.first-half img{
width: 14%;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 150px;
}
/*second half class of home page*/
.second-half{
width: 100%;
color: #fff;
justify-content: center;
text-align: center;
margin-top: 5px;

}
.text-big{
  font-size: 25px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.text-small{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 20px;
}
/*img section*/

.img{
width: 100%;
}
.img img{
  width: 50%;
  display: block;
margin-left: auto;
margin-right: auto;

}
/*save section*/
#save {
   width: 100%;
}
#save h3{
  text-align: center;
  font-size: 25px;
}
.tips{
  width: 100%;
}
.img{
  width: 100%;
}
.tips img{
  width: 18%;
  float: right;
  border: 1px solid #000;
  border-radius: 20px;
  margin-right: 50px;
  margin-top: 30px;

}
.int{
  width: 100%;
}

#intro{
width: 70%;
padding: 26px 26px;
padding-left: 70px;
text-align: left;
color: #000;
font-size: 18px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*contact us page start*/
#head{
  width: 12%;
   display: flex;
   text-align: center;
   justify-content: center;
   align-content: center;
   font-size: 20px;
   border: 1px solid #000;
   border-radius: 20px;
   margin-left: 42%;
   margin-top: 10px;
   padding: 5px 10px;
   background-color: rgb(69, 69, 218);
   color: #000;
   

}
#p{
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: bold;
  padding-top: 25px;
  font-size: 18px;
}
/*status bar of suucess message*/
.contact #status{
	color:#000;
	font-size: 15px;
	border: 1px solid transparent;
	border-radius: 20px;
	padding: 6px 10px;
   width: 25%;

}

#status.Success{
     background-color: #2335c2;
     animation: status 4s ease forwards;

}

#status.error{
	background-color: rgb(250,129,92);
	color: #000;
	animation: status 4s ease forwards;
}

@keyframes status{
0%{
	opacity: 1;
	pointer-events: all;

}
90%{
	opacity: 1;
	pointer-events: all;
}
100%{
	opacity: 0;
	pointer-events: none;
}

}
.contact{
  width: 100%;
  background-color: #f6f5f4;
  justify-content: center;
  align-items: center;

   
}

.container{
	width: 80%;
  justify-content: center;
  align-content: center;
  margin-left: 10%;
  padding-top: 35px;
  
}
.form{
max-width: 1200px;
margin: auto;
}
.form-group{

	width: 100%;
 font-size: 20px;
   color: #000; 
   margin-top: 5px;
}
.form-group input,
.form-group textarea{
width: 100%;
height: 30px;
padding: 9px,30px;
font-size: 18px;
background-color: #fff;
color:#000;
border: 2px solid  black;
border-radius: 10px;
list-style-type: none;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

button{
    
	position: relative;
	height: 40px;
	width: 100px;
	background: #111;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	border-radius: 15px;
	font-family: 'Raleway',sans-serif;
	margin-left: 0px;
	margin-top: 20px;
	border: 1px solid #fff;
  text-align: center;
  transition: 0.6s ease;
  margin-bottom: 10px;
}
button:hover{

  background-color: darkorange;
  color: #000;
  font-weight: bold;
}

/*footer class starting */
.footer{
  background-color: rgba(0,0,0,0.7);
}
.text-center{
text-align: center;
padding: 20px 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
justify-content: center;
color: #fff;
}

/*check box fas bar body line  (responsive website )*/
label #butn, label #cancel{
    width: 100%;
     color: #fff;
     font-size: 25px;
    line-height: 70px;
    cursor: pointer;
    display: none;
    margin-inline-end: 300px;
    
  
  }



  #check{
    display: none;
    
  }

/*--website responsive--*/
@media(max-width:1475px){

  .navlist li a{
    
    font-size: 15px;

   }

  


}


@media only screen and (max-width:1260px){
 
  label #butn{

		display: block;


	}
	 .navlist{
		position: absolute;
		width: 100%;
		height: 40vh;
		background-color: rgba(0,0,0,0.7);
		top: 60px;
		left: -100%;
       transition: all.5s;
       flex-direction: column;
        
	}

	.navlist li{

		display:inline-block;
	  margin: 10px 0;
    padding: 10px 30px ;
		line-height: 20px;
    
        

	}

	.navlist li a{
		font-size: 25px;
	    text-align: center;
      
	}

	#check:checked ~ .navlist{
		left: 0%;

	}
   .logo img{
     width: 50%;
    
   }
   .rightnav{
     display: none;
   }
  .first-half img{
    width: 50%;
    
    
  }

  .second-half{
  margin-top: 0px;
  padding-top: 20px;
  }
  .second-half p{
    font-size: 30px;
  }

  #head{
    width: 30%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 30%;
  }
  
    .hnav{
      height: 60px;
  }
  .img img{
    width: 100%;
    
  
  }

  .tips .img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
  }

  #intro{
    display: block;
    margin-top: 40%;
    text-align:center;
    font-size: 5vw;
  }
}
